@font-face {
    font-family: "WhaleTried";
    src: url(../imagens/WhaleITriedRegular-xWq0.ttf), format("truetype");
}

* {
    font-family: "WhaleTried";
}


h1{
    font-size: 100px;
    text-align: center;
    margin-top:50px;
}

#gridAC {
    display: grid;
    grid-template-columns: 18% 28% 25% 20%;
    grid-template-rows: 30% 30% 30% 30%;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: auto;
}

#gridAC button {
    cursor: pointer;
    border-radius: 5px;
    font-size: 24px;
    border: 0.1px solid black;
    width: 100px;
}

#gridAC button:hover {
    color: white;
    background-color: black;
}

#gridAC button:disabled, button[disabled] {
    cursor: default;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

html {
    background-color: black;
}

#ecra {
    width: 1280px;
    height: 780px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    background-image: url("../imagens/ac-background.gif");
    background-repeat: no-repeat;
    background-position: center;
}

#backBtnPosition {
    float: left;
}

#backBtn {
    cursor: pointer;
    border-radius: 5px;
    font-size: 24px;
    border: 0.1px solid black;
    width: 200px;
}

#backBtn:hover {
    color: white;
    background-color: black;
}

.sectionName {
    font-size: 55px;
    font-weight: bold;
    margin-left: 100px;
    margin-right: 100px;
}

.settingsDiv {
    font-size: 24px;
    margin-right: 100px;
    margin-bottom: 50px;
}

