* {
    font-family: "DejaVu Serif";
}

#ecra {
    width: 1280px;
    height: 780px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 70px;
}

#btnPosition {
    display: grid;
    justify-content: center;
}

.buttons {
    margin-top: 10px;
    height: 50px;
    width: 350px;
    font-size: 20px;
}

#buttonsPosition {
    margin-top: 10px;
}

#backBtn {
    float: right;
    height: 70px;
    width: 70px;
}

#despensaArea {
    font-size: 13px;
    border: 2px solid black;
    width: 550px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 0;
    overflow: scroll;
    overflow-x: hidden;
}

#opcoesArea {
    border: 2px solid black;
    font-size: 13px;
    width: 300px;
    height: 130px;
    margin-top: -300px;
    margin-left: 50px;
}

h4 {
    margin-left: 10px;
}

#appleImg {
    margin-left: 10px;
    margin-top: 10px;
}

.produto {
    width: 100px;
    height: 100px;
    text-align: center;
}

#mostrarArea {
    border: 2px solid black;
    font-size: 13px;
    width: 300px;
    height: 130px;
    margin-top: -300px;
    margin-left: 50px;
}

#optionsBtn{
    float: left;
    height: 70px;
    width: 70px;
}

#definicoes-window {
    position: fixed;
    width: 400px;
    height: 230px;
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
}

.optionsDiv{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10%;
}

.optionsDiv button{
    margin: 5px 5px 5px 5px;
    width: 37px;
}

.produto{
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-top: auto;
}

#tabelaProdutosDespensa {
    border-spacing: 10px;
}

.tdProduto {
    justify-content: center;
    text-align: center;
}