@font-face {
    font-family: "WhaleTried";
    src: url(../imagens/WhaleITriedRegular-xWq0.ttf), format("truetype");
}

* {
    font-family: "WhaleTried";
}

html {
    background-color: black;
}

#ecra {
    width: 1280px;
    height: 780px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    background-image: url("../imagens/despensa_background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

#btnPosition {
    display: grid;
    justify-content: center;
}

.buttons {
    margin-top: 10px;
    height: 50px;
    width: 350px;
    font-size: 20px;
}

#backBtn {
    float: left;
    cursor: pointer;
    border-radius: 5px;
    font-size: 24px;
    border: 0.1px solid black;
    width: 200px;
}

#backBtn:hover {
    color: white;
    background-color: black;
}

#despensaArea {
    font-family: "DejaVu Serif";
    font-size: 13px;
    border: 2px solid black;
    width: 600px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 0;
    overflow: scroll;
    overflow-x: hidden;
}

#opcoesArea {
    font-family: "DejaVu Serif";
    border: 2px solid black;
    font-size: 13px;
    width: 300px;
    height: 130px;
    margin-top: -300px;
    margin-left: 30px;
}

h4 {
    margin-left: 10px;
}

#appleImg {
    margin-left: 10px;
    margin-top: 10px;
}

#mostrarArea {
    font-family: "DejaVu Serif";
    border: 2px solid black;
    width: 300px;
    height: 130px;
    margin-top: -300px;
    margin-left: 30px;
}

#optionsBtn {
    float: right;
    cursor: pointer;
    border-radius: 5px;
    font-size: 24px;
    border: 0.1px solid black;
    width: 200px;
}

#optionsBtn:hover {
    color: white;
    background-color: black;
}

#definicoes-window {
    font-family: "DejaVu Serif";
    background-size: cover;
    position: fixed;
    width: 400px;
    height: 230px;
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
}

#definicoes-window button {
    font-family: "DejaVu Serif";
    background-size: cover;
    cursor: pointer;
    border: 0.1px solid black;
    width: 55px;
    font-size: 16px;
}

#definicoes-window button:hover {
    color: white;
    background-color: black;
}

#definicoes-window button:disabled,
button[disabled] {
    cursor: default;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

#closeBtnPosition {
    position: inline;
    float: right;
    margin-bottom: 20px;
}

.optionsDiv {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10%;
}

.optionsDiv button {
    margin: 5px 5px 5px 5px;
}

.produto {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-top: auto;
    text-align: center;
}

#tabelaProdutosDespensa {
    border-spacing: 10px;
}

.tdProduto {
    font-family: "DejaVu Serif";
    font-weight: bold;
    justify-content: center;
    text-align: center;
    font-size: 16px;
}

#comprarProdutoDiv {
    float: right;
    margin-top: -500px;
    margin-left: 40px;
    margin-right: 20px;
    border: 2px solid black;
    height: 400px;
    width: 300px;
    display: none;
    text-align: center;
}

.tdProduto {
    cursor: pointer;
}

#buyInput {
    width: 3em;
}

#opcoesArea,
#mostrarArea {
    font-family: "DejaVu Serif";
    font-weight: bold;
    font-size: 18px;
}

#opcoesArea form,
#mostrarArea form {
    margin-top: -10px;
    margin-left: 10px;
}

#mostrarArea label {
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: top;
}

#mostrarArea input {
    border-radius: 5px;
    border: 0.1px solid black;
    cursor: pointer;
    height: 15px;
    width: 15px;
}

#mostrarArea div, #opcoesArea div {
    margin: 5px;
}

#productInformation {
    font-size: 18px;
}

#productInformation button {
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    border: 0.1px solid black;
    width: 100px;
}

#productInformation button:hover {
    color: white;
    background-color: black;
}

#buyProductDiv input {
    font-size: 18px;
}

#buyProductDiv{
    font-size: 18px;
}

#buyProductDiv button {
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    border: 0.1px solid black;
    width: 100px;
}

#buyProductDiv button:hover {
    color: white;
    background-color: black;
}

#carrinhoPosition {
    margin-top: 50px;
}

#carrinho {
    cursor: pointer;
    float: right;
}