* {
    font-family: "DejaVu Serif";
}

html{
    background-color: black;
}

#ecra{
    width: 1280px;
    height: 780px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

#btnPosition {
    display: grid;
    justify-content: center;
}

.buttons {
    margin-top: 10px;
    height: 50px;
    width: 350px;
    font-size: 20px;
}

#backBtn {
    float: left;
    cursor: pointer;
    border-radius: 5px;
    font-size: 24px;
    border: 0.1px solid black;
    width: 200px;
}

#backBtn:hover{
    color: white;
    background-color: black;
}

#despensaArea {
    font-size: 13px;
    border: 2px solid black;
    width: 550px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 0;
    overflow: scroll;
    overflow-x: hidden;
}

#opcoesArea {
    border: 2px solid black;
    font-size: 13px;
    width: 300px;
    height: 130px;
    margin-top: -300px;
    margin-left: 50px;
}

h4 {
    margin-left: 10px;
}

#appleImg {
    margin-left: 10px;
    margin-top: 10px;
}

.produto {
    width: 100px;
    height: 100px;
    text-align: center;
}

#mostrarArea {
    border: 2px solid black;
    width: 300px;
    height: 130px;
    margin-top: -300px;
    margin-left: 50px;
}

#optionsBtn {
    float: right;
    cursor: pointer;
    border-radius: 5px;
    font-size: 24px;
    border: 0.1px solid black;
    width: 200px;
}

#optionsBtn:hover{
    color: white;
    background-color: black;
}

#definicoes-window {
    position: fixed;
    width: 400px;
    height: 230px;
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
}

#definicoes-window button{
    cursor: pointer;
    border: 0.1px solid black; 
    width: 55px;
    font-size: 16px;
}

#definicoes-window button:hover{
    color: white;
    background-color: black;
}

#definicoes-window button:disabled, button[disabled]{
    cursor: default;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.optionsDiv {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10%;
}

.optionsDiv button {
    margin: 5px 5px 5px 5px;
}

.produto {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-top: auto;
}

#tabelaProdutosDespensa {
    border-spacing: 10px;
}

.tdProduto {
    justify-content: center;
    text-align: center;
    font-size: 15px;
}

#comprarProdutoDiv {
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 600px;
    height: 300px;
    background-color: white;
    border: 2px solid black;
    z-index: 10;
    display: none;
    text-align: center;
}

.tdProduto {
    cursor: pointer;
}

#buyInput{
    width: 3em;   
}

#opcoesArea, #mostrarArea{
    font-size: 18px;
}

#opcoesArea form, #mostrarArea form{
    margin-top: -10px;
}

#productInformation{
    font-size: 18px;
}

#productInformation button{
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    border: 0.1px solid black;
    width: 100px;
}

#productInformation button:hover{
    color: white;
    background-color: black;
}

#buyProductDiv input{
    font-size: 18px;
}

#buyProductDiv button{
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    border: 0.1px solid black;
    width: 100px;
}

#buyProductDiv button:hover{
    color: white;
    background-color: black;
}