@font-face {
    font-family: "WhaleTried";
    src: url(../imagens/WhaleITriedRegular-xWq0.ttf), format("truetype");
}

* {
    font-family: "WhaleTried";
}

html{
    background-color: black;
}

#ecra{
    width: 1280px;
    height: 780px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    background-image: url("../imagens/estores_background.gif");
    background-repeat: no-repeat;
    background-position: right;
}

#estoresGrid{
    margin-left: 50px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 20% 25% 25%;
    grid-template-rows: 22% 22% 22% 22%;
    grid-row-gap: 20px;
}

#estoresGrid button{
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 24px;
    border: 0.1px solid black;
    width: 200px;
}

#estoresGrid button:hover{
    color: white;
    background-color: black;
}

#estoresGrid button:disabled, button[disabled] {
    cursor: default;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

#backBtnPosition{
    float: left;
}

#backBtn {
    cursor: pointer;
    border-radius: 5px;
    font-size: 24px;
    border: 0.1px solid black;
    width: 200px;
}

#backBtn:hover {
    color: white;
    background-color: black;
}

h1{
    margin-top: 50px;
    text-align: center;
    font-size: 90px;
}

#estoresGrid h3{
    margin-left: 20px;
}


.horas input{
    margin: 5px;
}

.nameSection {
    font-size: 40px;
}

.status{
    font-size: 25px;
}

.abrirFechar{
    font-size: 25px;
}