*{
    font-family: "DejaVu Serif";
}

html{
    background-color: black;
}

#ecra{
    width: 1280px;
    height: 780px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

#estoresGrid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
}

.abrirBtn{
    margin-top: 5px;
    width: 100px;
}

.fecharBtn{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100px;
}

#backBtnPosition{
    float: right;
}

#h1{
    text-align: center;
}