*{
    font-family: "DejaVu Serif";
}

.container {
    text-align: center;
    font-family: Arial, sans-serif;
}

.speed-container, .temperature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.speed-container {
    margin-top: 40px;
}

.temperature-container {
    margin-top: 20px; 
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

input[type="range"] {
    width: 80%;
    margin: 5px 0;
}

#speed-display, #temperature-display {
    font-size: 36px;
}

#voltar{
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #0074D9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}